<div>
    <ion-header-bar
        type="bar-positive"
        left-buttons="leftButtons"
        right-buttons="rightButtons" 
        title="'05 SMS'">
    </ion-header-bar>
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
		    <div ng-show="getCount() == 0" class="item item-icon-left">
			    <i class="icon ion-person-stalker"></i>
			    	朋友列表
			    <span class="item-note">
					請新增朋友
				</span>
			</div>
			
		    <div ng-show="getCount() > 0" ng-repeat="friend in friends" class="item item-button-right">
                <div ng-click="onFriendClick(states.LOOK, friend)">
	                <h2>{{friend.name}}</h2>
	                <p>{{friend.phone}}</p>
			    </div>
			    <button class="button button-clear" 
			    		ng-click="onFriendClick(states.DELETE, friend)">
			    	<i class="icon ion-close"></i>
			    </button>
	        </div>
        </div>
    </ion-content>
</div>

<script id="Friend.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <button class="button button-positive" ng-click="state.cancel.click()">{{state.cancel.name}}</button>
            <h1 class="title">{{state.title}}</h1>
        	<button ng-click="state.confirm.click()" class="button button-pastive">{{state.confirm.name}}</button>
        </header>
        <ion-content has-header="true" padding="true">
            <div class="list">
		    	<label class="item item-input">
				    <span class="input-label">姓名: </span>
				    <input type="text" ng-model="model.name" ng-disabled="state.inputDisable">
				</label>
				<label class="item item-input">
				    <span class="input-label">電話: </span>
				    <input type="tel" ng-model="model.phone" ng-disabled="state.inputDisable">
				</label>
				<label class="item item-input">
				    <span class="input-label">郵件: </span>
				    <input type="text" ng-model="model.email" ng-disabled="state.inputDisable">
				</label>
				<label class="item item-input">
				    <span class="input-label">生日: </span>
				    <input type="text" ng-model="model.birthday" ng-disabled="state.inputDisable">
				</label>
			</div>
        </ion-content>

        <div class="tabs tabs-icon-top tabs-positive" ng-show="state.footer">
			<a class="tab-item" ng-click="onPhoneClick()">
				<i class="icon ion-help"></i>
				電話
			</a>
			<a class="tab-item" ng-click="onSMSClick()">
				<i class="icon ion-email"></i>
				簡訊
			</a>
			<a class="tab-item" ng-show="model.email != ''" ng-click="onEmailClick()">
				<i class="icon ion-at"></i>
				Email
			</a>
		</div>
</script>